XML/ProductDetails.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PRODUCTDETAILS">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PRODUCT">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="NAME" type="xs:string" />
              <xs:element name="DESCRIPTION" type="xs:string"/>
              <xs:element name="PRICE" >
                <xs:simpleType>
                  <xs:restriction base="xs:positiveInteger">
                    <xs:maxExclusive value="50000" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="QUANTITY" >
                <xs:simpleType>
                  <xs:restriction base="xs:nonNegativeInteger">
                    <xs:minInclusive value="0" />
                    <xs:maxInclusive value="15" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="ID" use="required">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:pattern value ="[P]{1}[R]{1}\d{4}" />
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
